body {
	background: #ebf1f6;
	font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
	margin: 20px;
	width: 600px;
}

h1 {
	font-size: 21px;
}

p, textarea {
	font-size: 11px;
}

textarea {
	display: block;
	margin: 24px 0;
	width: 250px;
}